services:
  app:
    container_name: portfolio
    build: .
    ports:
      - 3000:3000
    env_file:
      - .env
    environment:
      - MONGODB_URL=${MONGODB_URL}
      - NEXT_PUBLIC_DASHBOARD_KEY=${NEXT_PUBLIC_DASHBOARD_KEY}
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo
    container_name: mongodb
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=batman
      - MONGO_INITDB_ROOT_PASSWORD=justice
    volumes:
      - mongodb-portfolio:/data/db

volumes:
  mongodb-portfolio:
